<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
<section class="header_top">
    <img src="\images\logo-mercado-liebre.svg" alt ="logo-mercado-liebre"> 
    <input type="text" placeholder="Hacé tu busqueda"> 
    <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
</section>
<section class="header_bottom">
    <ul class="links_left">
        <li> <a href="#Ofertas">Ofertas</a></li>
        <li> <a href="#Tiendas Oficiales">Tiendas Oficiales</a></li>
        <li> <a href="#Vender">Vender</a></li>
        <li> <a href="#Ayuda">Ayuda</a></li>
    </ul>
    <ul class="links_right">
        <li><a href="#Creá tu cuenta">Creá tu cuentas</a></li>
        <li><a href="#Ingresá">Ingresá</a></li>
        <li><a href="#Mis Compras">Mis Compras</a></li>
    </ul>
</section>
    </header>

    <main>
        <img class="banner" src="/images/img-home-banner.jpg" alt="Banner">
        <section>
            <h2>Sección: Basado en tu última visita </h2>
            <div>
                <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Producto">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Producto">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Producto">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Producto">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </article>
        </div>
            
        </section>

        <section>
            <h2>Sección de Ofertas</h2>
        <div>
            <article>
                <img src="\images\img-cafetera-moulinex.jpg" alt="Producto">
                <p>$6.770</p>
                <p>40% OFF</p>
                <strong>Cafetera Moulinex</strong>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Producto">
                <p>$230.000</p>
                <p>20% OFF</p>
                <strong>MacBook Pro 2019<strong>
            </article>
    
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Producto">
                <p>$70.500</p>
                <p>10% OFF</p>
                <strong>Samsung Galaxy S10</strong>
            </article>
    
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Producto">
                <p>$23.200</p>
                <p>5% OFF</p>
                <strong>SmartTv Samsung 43"</strong>
            </article>
        </div>
    </section>
    </main>
    <footer>
        <h3>Pagá con tarjeta o efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>    
    </footer>
</body>
</html>